body {
    margin: 0px;
    border: 0px;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #CCF2AF;
    height: 60px;
}

#logo-image {
    width: 118px;
    height: 60px;
    margin-left: 20px;
}

#logo-image:hover {
    cursor: pointer;
    border: 2px white solid;
}

#search-button {
    width: 40px;
    height: 30px;
    position: absolute;
    bottom: 3px;
    margin-left: 10px;
}


#signin-button {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 130px;
    top: 15px;
    font-size: 20px;
    font-size: 700;
    padding: 5px 7px 5px 7px;
    
}

#signin-button:hover {
    border: 2px white solid;
}
#cart-img {
    width: 40px;
    height: 30px;
    margin-top: 10px;
    position: absolute;
    top: 7px;
    right: 70px;
}

#search-bar {
    display: inline-block;
    width: 600px;
    position: absolute;
    top: 12px;
    left: 350px;
}

#search {
    width: 500px;
    height: 30px;
    border-color: white;
}

#search-button {
    padding: 2px;
}

#search-button:hover {
    border: 2px white solid;
    cursor: pointer;
}

table {
    width: 75%;
    display: table;
    float: right;
    margin-top: 50px;
    border-spacing: 30px 30px;
}


td {
    width: 33%;
    border: 1px solid gray;
    text-align: center;
    margin-bottom: 10px;
}

td img:hover {
    border: 1px solid black;
}

td h3 {
    margin-bottom: 0;
}
#sidebar {
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: #f1f1f1;
    position: absolute;
    padding-bottom: 20px;
}
  
.cat {
    color: black;
    padding: 10px;
}

