*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color:#caf8c1 ;
}
.container{
    
    height: 100vh;
    margin-top: 20px;
    margin-left: 20px;

    /* height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,#caf8c1,#76b16a,#508545,#2f5f25);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    text-align: justify; */
     
    
}
.A{
    margin-left: 20PX;
}
.B{
    margin-left: 20PX;
}
.C{
    margin-left: 20PX;
}
/* @keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
body{
    background-image: ;
} */