body {
    margin: 0px;
    border: 0px;
    font-family: Arial, sans-serif;
}



table {
    width: 75%;
    display: table;
    float: right;
    margin-top: 50px;
    border-spacing: 30px 30px;
}


td {
    width: 33%;
    border: 1px solid gray;
    text-align: center;
    margin-bottom: 10px;
}

td img:hover {
    border: 1px solid black;
}

td h3 {
    margin-bottom: 0;
}
#sidebar {
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: #f1f1f1;
    position: absolute;
    padding-bottom: 20px;
}
  
.cat {
    color: black;
    padding: 10px;
}







/* footer */

#media a{
    padding: 0 2px;
    margin: 0 5px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
#face:hover {
    color: #3b5998;
}
#ins:hover {
    background-color: #ff894a;
    border-radius: 5px;
    color: white;
}
#twi:hover {
    color: #00aff0;
}
#you:hover {
    color: #bb0000;
}
footer{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    background-color: #7b9c68;
    padding: 0 50px;
}
.col {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    margin-top: 20px;
}
.fot {
    width: 350px;
    height: 100px;
}
#about a {
    text-decoration: none;
    margin: 15px 0;
    color: black;
}
#about a:hover {
    opacity: 0.7;
}
#media a{
    padding: 0 2px;
    margin: 0 5px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
#face:hover {
    color: #3b5998;
}
#ins:hover {
    background-color: #ff894a;
    border-radius: 5px;
    color: white;
}
#twi:hover {
    color: #00aff0;
}
#you:hover {
    color: #bb0000;
}
footer{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    background-color: #7b9c68;
    padding: 0 50px;
}
.col {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    margin-top: 20px;
}
.fot {
    width: 350px;
    height: 100px;
}
#about a {
    text-decoration: none;
    margin: 15px 0;
    color: black;
}
#about a:hover {
    opacity: 0.7;
}